.body {
 -fx-background-image: url("15076052.jpg");
 -fx-background-size: 100% 100%
}
.gomb{
    -fx-background-color: red;
}
.cim{
    -fx-background-color:LightGray ;
}

.osszes{
    -fx-background-image: url("hatter.jpg");
     -fx-background-size: 100% 100%
}

.kedvencek {
 -fx-background-image: url("682.png");
 -fx-background-size: 100% 100%
}
.megnezendo {
 -fx-background-image: url("megnez.jpg");
 -fx-background-size: 100% 100%
}

#pane{
 -fx-background-image: url("had.jpg");
 -fx-background-size: 100% 100$;
}

#filmTable .table-column {
    -fx-alignment: CENTER;
}

#moziTabla .table-column {
    -fx-alignment: CENTER;
}

#megnezendoTabla .table-column{
    -fx-alignment: CENTER;
}

.cimkek{
 -fx-font-size: 14px;
 -fx-font-family: "Bookman Old Style";
 -fx-text-fill: rgb(255, 255, 255);
}

.mozi{
 -fx-background-color: #ffc600;
 -fx-text-box-border: red;
}
Button:hover{
-fx-opacity: 0.5;
-fx-cursor: hand;
-fx-border-color:black;
-fx-border-width: 2 2 2 2;
-fx-border-radius: 2px;
}